<ui-view>
    <article class="container-fluid">
        <h3 class="page-header">
            Orders
        </h3>
        <button ng-click="orders.applyFilters()">Apply Filters</button>
        <!--<ordercloud-search servicename="Orders" controlleras="orders"></ordercloud-search>-->
        <div class="well well-lg text-center" ng-if="!orders.list.Items.length">
            <b ng-if="!orders.searching()">The selected buyer does not have any orders.</b>
            <b ng-if="orders.searching()"><i class="fa fa-search"></i> No orders match your search.</b>
        </div>
        <table class="table table-bordered" ng-if="orders.list.Items.length">
            <thead>
            <tr>
                <th>
                    <div>ID</div>
                </th>
                <th>
                    <div>Date Created</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders.list.Items track by $index">
                <td>
                    <a href="" role="button" ui-sref=".edit({orderid: order.ID})">{{order.ID}}</a>
                </td>
                <td>{{order.DateCreated | date}}</td>
            </tr>
            </tbody>
        </table>
        <div class="text-right" ng-if="application.$ocMedia('min-width:768px')">
            <uib-pagination total-items="orders.list.Meta.TotalCount" items-per-page="orders.list.Meta.PageSize" ng-model="orders.list.Meta.Page" ng-change="orders.pageChanged()"></uib-pagination>
        </div>
        <div class="text-center" ng-if="application.$ocMedia('max-width:767px')">
            <button type="button"
                    class="btn btn-default btn-lg"
                    ng-show="orders.list.Meta.Page < orders.list.Meta.TotalPages"
                    ng-click="orders.pageFunction()">Load More</button>
        </div>
    </article>
</ui-view>