<form class="quickviewModal"  name="product_spec_form" ng-submit="quickviewModal.addToCart(quickviewModal.selectedProduct)" >
    <div class="modal-header">
        <i class="fa fa-times fa-3x fa-pull-right" ng-click="quickviewModal.cancel()"></i>
        <h3 class="modal-title">{{quickviewModal.selectedProduct.Name}}</h3>
        <h2 class="panel-title">{{quickviewModal.selectedProduct.ID}}</h2>
    </div>
    <div class="col-md-6" ng-if="quickviewModal.selectedProduct.xp.image">
        <img class="img-responsive" ng-src="{{quickviewModal.selectedProduct.xp.image.URL}}" alt="Product Image">
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
        {{quickviewModal.selectedProduct.Description}}
        <oc-spec-form product="quickviewModal.selectedProduct"></oc-spec-form>
    </div>
    <div class="modal-footer from-group">
        <oc-add-to-order formname="product_spec_form" product="quickviewModal.selectedProduct"></oc-add-to-order>
    </div>
</form>