<div class="form-group">
    <form name="ProductCategorySearch" ng-submit="CatalogSearch.onHardEnter(CatalogSearch.searchTerm)">
        <div class="input-group">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Catalog Search"
                    ng-model="CatalogSearch.searchTerm"
                    uib-typeahead="item as item for item in CatalogSearch.popupResults($viewValue)"
                    typeahead-popup-template-url="./catalogSearch/templates/catalogSearchDirective.popup.tpl.html"
                    typeahead-on-select="CatalogSearch.onSelect($item)"
                    typeahead-focus-first="false"
                    ng-model-options="{debounce:{'default':300,'blur':0}}"
            />
            <span class="input-group-btn">
                <button ng-click="CatalogSearch.onHardEnter(CatalogSearch.searchTerm)" class="btn btn-primary">Search</button>
            </span>
        </div>
    </form>
</div>

