<div class="form-group">
    <form name="ProductCategorySearch" ng-submit="CatalogSearch.onHardEnter(CatalogSearch.searchTerm)">
        <div class="input-group">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Product Category Search"
                    ng-model="CatalogSearch.searchTerm"
                    uib-typeahead="item as item.Name for item in CatalogSearch.popupResults($viewValue)"
                    typeahead-popup-template-url = "./catalogSearch/templates/catalogSearchDirective.typeAhead.tpl.html"
                    typeahead-on-select="CatalogSearch.onSelect($item, $model, $label)"
                    typeahead-focus-first="false"
            />

            <span ng-click="CatalogSearch.onHardEnter(CatalogSearch.searchTerm)" class="input-group-addon" id="basic-addon2">Search</span>
        </div>
    </form>
</div>

