<ui-view>
    <article class="container-fluid">
        <h3 class="page-header">
            Orders
        </h3>
        <ordercloud-order-search controlleras="orderHistory" filters="orderHistory.filters" usertype="{{orderHistory.userType}}" buyercompanies="orderHistory.buyerCompanies"></ordercloud-order-search>
        <div class="well well-lg text-center" ng-if="!orderHistory.list.Items.length">
            <b ng-if="!orderHistory.searching()">The selected buyer does not have any orderHistory.</b>
            <b ng-if="orderHistory.searching()"><i class="fa fa-search"></i> No orders match your search.</b>
        </div>
        <div class="toggle-favorites-button">
            <button class="btn btn-primary" ng-click="orderHistory.toggleFavorites()" ng-if="orderHistory.showAll">
                <i class="fa fa-star"> </i> Filter by Favorites
            </button>
            <button class="btn btn-info" ng-click="orderHistory.toggleFavorites()" ng-if="!orderHistory.showAll">
                <i class="fa fa-star"> </i> Show All Results
            </button>
        </div>
        <section class="table-fixed-header" ng-if="orderHistory.list.Items.length">
            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="Orders" controlleras="orderHistory">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div>ID</div>
                        </th>
                        <th>
                            <div>Status</div>
                        </th>
                        <th>
                            <div>Date Created/Submitted</div>
                        </th>
                        <th>
                            <div>Total</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="orderHistory.showAll || order.xp.favorite" ng-repeat="order in orderHistory.list.Items">
                        <td ui-sref="orderHistory.detail({orderid: order.ID})">{{order.ID}}</td>
                        <td>{{order.Status}}</td>
                        <td>{{(order.DateSubmitted ||  order.DateCreated) | date}}</td>
                        <td>{{order.Total | currency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</ui-view>
